
/*Config de estilo da pagina*/
@font-face {
    font-family: alata;
    src: url(./fonts/Alata/Alata-Regular.ttf);
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black
}

body {
    overflow-x: hidden;
}


/*header*/

.topbar {
    display: flex;
    justify-content: space-around;
    background-color: hwb(0 77% 23%);
    width: 100%;
}

.topbar ul{
    list-style: none;
    display: flex;
    align-self: center;
}
.topbar li{
    font-size: 1rem;
    font-family: alata, arial;
}

.topbar h1{
    display: flex;
    font-family: alata, arial;
    align-self: center;
}
.topbar img{
    margin-right: 5%;
    align-self: center;
    display: flex;
    width: 3rem;
    height: 3rem;
}
.menu-itens {
    overflow-x: hidden;
    position: absolute;
    background-color: hwb(0 77% 23%);
    height: 6rem;
    width: 8rem;
    margin-top: 4.7rem;
    display: flex;
    flex-direction: column;
    margin-left: 150%;
    text-align: left;
    transition: transform 0.5s ease-in-out;
    z-index: 5;
    list-style: none;
}

.topbar .checkbox:checked + img +  .menu-itens {
    transform: translateX(-11rem);
  }
/*Main - About*/
.aboutme {
    background-color: hsla(0, 0%, 95%, 1);
}

.profileimage {
    border-radius: 50%;
    width: 20rem;
  }


.paragraph{
    font-family: alata;
}

/*Main lists*/

/*Hobby list*/

.lists .hobby .sub {
    font-family: alata, arial;
    text-align: left;
    margin-left: 6%;
}

.lists .hobby ul {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lists .hobby li {
    font-family: alata, arial;
    text-align: center;
    background-color: hsl(0,0%,87.45%);
    height: 9rem;
    width: 7rem;
    margin: 0.5%;
    border: 0;
    border-radius: 5%;
    transition: 0.4s;
}

.lists .hobby li:hover {
    transform: scale(1.2);
  }

.lists .hobby p{
    margin-top: 50%;
    text-align: center;
    
}

/*Games list*/

.lists .games .sub {
    font-family: alata, arial;
    text-align: left;
    margin-left: 6%;
}

.lists .games ol {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.lists .games li {
    font-family: alata, arial;
    background-color: hsl(0,0%,87.45%);
    height: 9rem;
    width: 7rem;
    margin: 0.5%;
    border: 0;
    border-radius: 5%;
    transition: 0.4s;
}

.lists .games li:hover {
    transform: scale(1.2);
  }



.lists .games .out{


    margin-top: 50%;
    text-align: center;
    
}

/*Numero acima dos primeiros 3 top jogos*/
.lists .games .topbox{
    display: flex;
}
.lists .games .topmark {
    display: flex;
    background-color: white;
    
}
.lists .games .tagone {
    background-color: hsl(0, 0%, 77%);
    margin-left: 1%;
    margin-top: 0.1%;
    padding-top: 2%;
    padding-left: 0.7%;
    padding-right: 0.7%;
    position: absolute;
    border: 0;
    border-radius: 15%;
}
.lists .games .tagtwo {
    background-color: hsl(0, 0%, 77%);
    margin-left: 1%;
    margin-top: 0.1%;
    padding-top: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: absolute;
    border: 0;
    border-radius: 15%;
}
.lists .games .tagthree {
    background-color: hsl(0, 0%, 77%);
    margin-left: 1%;
    margin-top: 0.1%;
    padding-top: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    position: absolute;
    border: 0;
    border-radius: 15%;
}
/*Footer*/
.botbar {
    display: flex;
    justify-content: space-around;
    background-color: hwb(0 77% 23%);
}
.botbar .iconbar {
    padding-right: 25%;
}
.botbar ul {
    list-style: none;
    display: flex;
    align-self: center;
}

.botbar .iconbar .giticon {
    display: flex;
    padding-right: 50%;
}
.botbar .iconbar .linkedinicon {
    display: flex;
    padding-left: 50%;
   
}

.linkbar {
    align-self: center;
    width: 15rem;
    height: 100%;
    background-color: hsl(0, 0%, 87%);
    border: 0;
    border-radius: 0.5rem;
}

.linkbar .contatolink {
    display: flex;
    text-align: center;
    font-family: alata, arial;
    width: 15rem;
    padding-right: 1%;
    padding-left: 5%;
    height: 0.5rem;

}
.linkbar a {
    opacity: 0.6;
    transition: 0.4s;
}
.linkbar a:hover {
    opacity: 1;
}


/* CSS Para telas grandes */
@media only screen and (min-width:781px) {
    .topbar ul { 
        display: flex;
    }
    .topbar img { 
        display: none;
    }
    .topbar .checkbox{
        display: none
    }
    .aboutme {
        align-items: center;
        display: flex;

    }
    .paragraph{
        
        text-align: justify;
        margin-left: 15%;
        margin-right: 15%;
        
        
    }
    .profileimage{
        margin-left: 35%;
    }
    .lists {
        display:flex;
    }
    .lists .games {
        width: 50%;
    }
    .lists .hobby {
        width: 50%;
    }
    .menu-items {
        display: none;
    }
    /*Fixa o footer no fim da pagina*/
    
}



/* CSS para telas pequenas */
@media only screen and (max-width:780px) {
    body {
        overflow-x: hidden;
    }
    .topbar ul { 
        display: none;
    }
    .topbar.content img {
        display: flex;
    }
    .checkbox{
        margin-top: 1%;
        margin-left: 81%;
        position: absolute;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
        width: 5rem;
        height: 4rem;

    }
    .profileimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }
    .paragraph h2 {
        margin-left: 5%;
    }
    .paragraph p { 
        align-self: center;
        word-wrap: normal;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
    }
    .lists .games .topbox{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .lists .gameslist {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .lists .hobbylist {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .lists .games .sub {
        text-align: left;
        margin-left: 12%;
    }
    .lists .hobby .sub {
        text-align: left;
        margin-left: 12%;
    }
      
      
    .botbar {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        width: 100%;
    }

    .linkbar {
        position: relative;
        display: inline-block;
    }

    footer {
        height: 7rem;

    }
    .iconbar {
        margin-top: 0.1rem;
    }
    .linkbar {
        
        display: flex;
        align-items: center;
        align-self: center;
        width: 15rem;
        height: 3rem;
        margin-left: 50%;
        margin-right: 50%;
        background-color: hsl(0, 0%, 87%);
        border: 0;
        margin-top: -3rem;
        border-radius: 0.5rem;
    }
    
    .linkbar .contatolink {
        display: inline-block;
        text-align: center;
        font-family: alata, arial;
        width: 15rem;
        padding-right: 1%;
        padding-left: 5%;
        height: 0.5rem;
    
    }
}
